#testImage{
    transform: rotate(10deg);
}

#testImage2{
    transform: rotate(-10deg);
}

.animate-on-load {
    transition: 2s;
    opacity: 0; /* Initially hidden */
  }

#aboutMe{
    transition: all 2.5s;
    transform: translateX(-100%);
} 

#aboutMe.show-animate {
    transform: translateX(0%);
}

img{
    transition: 0.5s;
}
img:hover{
    opacity: 0.7;
}